/* START LAYOUT AND BASE STYLES */
*  {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing:  border-box;
}
input::-ms-reveal,  input::-ms-clear  {
    display:  none;
}
:root  {
    --main-color:  red;
    --main-color-alt:  ;
    --main-transition:  0.3s;
    --main-padding-or-margin-top-or-bottom:  100px;
    --section-background:  #ececec;
}
html  {
    scroll-behavior:  smooth;
}
body  {
    font-family:  "Cairo",  sans-serif;
    background-color:  #b7b3b3;
}
a  {
    text-decoration:  none;
}
.container  {
    padding:  0 15px;
    margin: 0 auto;
    width: 1300px;
}
.header  {
    background-color:  #630808;
}
.header .container  {
    display:  flex;
    justify-content:  space-between;
    align-items:  center;
}
.header .container .user  {
    padding:  10px 2px;
    border:  2px solid red;
    width:  fit-content;
}
.header .container .rest-logo img  {
    max-width:  160px;
    margin-bottom:  -5px;
}
.header .container .nav_data  {
    direction:  rtl;
}
.header .container .nav_data span:not(.s)  {
    padding:  0px 3px;
    color:  red;
    font-weight:  900;
    transition:  0.3s;
}
.header .container .nav_data span:not(.s):hover  {
    background-color:  #ff00003b;
    padding:  25px 10px;
}
.header .container .nav_data span a  {
    direction:  rtl;
    padding:  25px 15px;
    color:  white;
}
.header .container .nav_data span a i  {
    margin-left:  5px;
}
.header .container .logout  {    
    height: 40px;
    color:  red;
    background-color:  white;
    padding:  8px;
    border-radius:  6px;
    cursor:  pointer;
    margin:  5px 0;
}
.footer  {
    background-image:  url(imgs/av.webp);
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;
    position:  relative;
}
.footer::before  {
    content:  "";
    position:  absolute;
    width:  100%;
    height:  100%;
    background-color:  rgba(0,  0,  0,  0.664);
}
.footer .container  {
    position:  relative;
    display:  flex;
    justify-content:  space-between;
    padding:  20px 0;
    align-items:  center;
}
.footer .container .email  {
    width:  fit-content;
    height:  fit-content;
    justify-content:  space-between;
    color:  white;
    position:  relative;
}
.footer .container .email input  {
    outline:  none;
    text-align:  center;
    width:  300px;
    height:  50px;
}
::placeholder  {
    color:  red;
}
.footer .container .email input:focus::placeholder  {
    color:  transparent;
}
.footer .container .email input:focus  {
    color:  red;
    color:  red;
    text-align:  start;
    padding-left:  15px;
}
.footer .container .email i  {
    position:  absolute;
    color:  red;
    top:  50%;
    transform:  translateY(-50%);
    left:  90%;
}
.footer .container .box  {
    color:  white;
    text-align:  end;
}
.footer .container .box p:nth-child(1)  {
    font-size:  xx-large;
}
.footer .container .line  {
    position:  absolute;
    display:  block;
    width:  90%;
    height:  1px;
    background-color:  white;
    bottom:  0;
    left:  50%;
    transform:  translateX(-50%);
}
.footer .social  {
    text-align:  center;
    padding:  30px 0;
    width:  fit-content;
    background-color:  #00000094;
    margin:  0 auto;
}
.footer .social a  {
    color:  white;
    position:  relative;
    padding:  0 10px;
}
.footer .social a:nth-child(1):hover  {
    color:  #3b5998;
}
.footer .social a:nth-child(2):hover  {
    color:  #00aced;
}
.footer .social a:nth-child(3):hover  {
    color:  #bc2a8d;
}
.footer .copy  {
    background-color:  #00000080;
}
.footer .copy .container  {
    padding:  0;
}
.footer .copy p  {
    color:  white;
}
.footer .copy .rest-logo img  {
    max-width:  160px;
    margin-bottom:  -5px;
}

/*  END OF LAYOUT  */

/* START HOME  */

.home  {
    background-image:  url(imgs/back.webp);
    position:  relative;
    direction:  rtl;
    background-position:  right;
    background-repeat:  no-repeat;
    background-size:  cover;
    display:  flex;
    column-gap:  200px;
    padding:  var(--main-padding-or-margin-top-or-bottom) 0 100px;
    align-items:  center;
}
.home .container .info p:first-child  {
    color:  white;
    position:  relative;
    margin-top:  var(--main-padding-or-margin-top-or-bottom);
    background-color:  red;
    width:  fit-content;
    border-radius:  10px;
    padding:  11px;
    font-size:  larger;
}
.home .container .info p.name  {
    color:  white;
    position:  relative;
    width:  fit-content;
    border-radius:  10px;
    font-size:  xxx-large;
    margin-top:  45px;
}
.home .container .info p.bla  {
    color:  white;
    position:  relative;
    width:  fit-content;
    border-radius:  10px;
    padding:  11px;
    font-size:  x-large;
    margin-bottom:  80px;
    text-transform:  capitalize;
}
.home .container .info .more .btn  {
    color:  red;
    background-color:  white;
    position:  relative;
    width:  fit-content;
    border-radius:  20px;
    padding:  15px 30px;
    font-size:  x-large;
    transition:  0.3s;
    cursor:  pointer;
}
.home .container .info .more .btn:hover  {
    color:  white;
    background-color:  red;
}
;

.menu  {
    margin-top:  80px;
    position:  relative;
}
.menu .container h1  {
    width:  fit-content;
    margin:  0px auto 50px;
    background-color:  red;
    padding:  25px var(--main-padding-or-margin-top-or-bottom);
    border-radius:  20px 0px 20px 0px;
    transition:  0.5s;
    animation:  white 0.5s;
    margin-top: 100px;
}
.menu .container h1:hover  {
    background-color:  red;
    color:  white;
    border-radius:  0px 30px 0px 30px;
}
.menu .container .box-menu  {
    display:  grid;
    padding:  var(--main-padding-or-margin-top-or-bottom) 0px 130px;
    gap:  46px;
    grid-template-columns:  repeat(auto-fill,  minmax(250px,  1fr));
}
.menu .container .box-menu .item  {
    text-align:  center;
    padding:  30px 0px;
    background-color:  #eee;
    box-shadow:  6px 6px 17px #888888;
    width:  240px;
    justify-self:  center;
    overflow:  hidden;
}
.menu .container .box-menu .image  {
    position:  relative;
    height: 180px;
}
.menu .container .box-menu .image::before  {
    content:  "";
    position:  absolute;
    top:  50%;
    left:  50%;
    transform:  translate(-50%,  -50%);
    background-color:  rgb(255 255 255 / 20%);
    width:  0;
    height:  0;
    opacity:  0;
    z-index:  2;
}
.menu .container .box-menu .image:hover::before  {
    animation:  flashing 0.7s;
}
@keyframes flashing  {
    0%,  40%  {
        opacity:  1;
    }
    100%  {
        opacity:  0;
        width:  200%;
        height:  200%;
    }
}
.menu .container .box-menu .item img  {
    max-width:  100%;
    margin:  -30px 0 20px;
    max-height:  200px;
    width:  273px;
}
.menu .container .box-menu .item .name  {
    margin:  0px 0px 30px;
    font-size:  x-large;
    font-weight:  bold;
}
.menu .container .box-menu .item .price  {
    margin:  0px 0px 30px;
    font-size:  large;
    font-weight:  bold;
    color:  red;
}
.menu .container .box-menu .item .order input  {
    text-align:  center;
    font-weight:  bold;
    outline-color:  red;
    padding:  2px;
}
.menu .container .box-menu .item .order  {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    gap:  15px;
}
.menu .container .box-menu .item .order a  {
    color:  red;
    font-size:  large;
    cursor:  pointer;
}
.menu .container .box-menu .item .order a:hover  {
    animation:  ord 1s linear;
}
@keyframes ord  {
    0%  {
        transform:  translateX(0px);
    }
    25%  {
        transform:  translateX(5px);
    }
    50%  {
        transform:  translateX(0px);
    }
    50%  {
        transform:  translateX(-5px);
    }
    100%  {
        transform:  translateX(0px);
    }
}
.menu .orderAdd  {
    display:  none;
    position:  fixed;
    top:  0;
    right:  0;
    padding:  0px 25px 15px;
    width:  fit-content;
    height:  fit-content;
    text-align:  center;
    background-color:  #ffbb33;
    margin:  20px 20px 0px 0px;
    z-index:  3;
    border-radius:  5px;
    box-shadow:  10px 10px 8px rgba(0,  0,  0,  0.324);
    transition:  pop 0.3s ease-in-out;
}
.cartlogo  {
    position:  fixed;
    top:  10px;
    left:  10px;
    padding:  10px;
    width:  50px;
    height:  50px;
    border-radius:  50%;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    background-color:  red;
    color:  black;
    transition:  box-shadow 0.5s;
}
.cartlogo:hover  {
    box-shadow:  7px 7px 5px 1px rgba(0,  0,  0,  0.324);
}
@keyframes pop  {
    0%  {
        opacity:  0;
        transform:  scale(0.9);
    }
    15%  {
        opacity:  1;
        transform:  scale(1.05);
    }
    50%  {
        opacity:  1;
        transform:  scale(1);
    }
    85%  {
        opacity:  1;
        transform:  scale(1.05);
    }
    100%  {
        opacity:  0;
        transform:  scale(0.9);
    }
}
/*  END OF HOME  */


/* START CONTACT US  */
.cardscontainer  {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    /* max-width: 450px; */
}
.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 350px;

}
.card h3 {
    font-size: 25px;
}
.contactus .card {
    flex-direction: row-reverse;
    justify-content: space-around;
}
.contactus .card .leftcont {
    flex-basis: 20%;
}
.contactus .card .rightcont {
    flex-basis: 80%;
}
.contactus .card i {
    font-size: xx-large;
}

.contactus p  {
    font-size:  16px;
    font-family:  system-ui;
}
.contactus h2  {
    font-family:  system-ui;
}
.contactus hr  {
    width:  260px;
    background-color:  black;
    color:  black;
    height:  1px;
    border:  0;
    margin-right:  0;
}
.contactus a,  .contactus p#hyphen  {
    display:  contents;
}
.contactus a  {
    font-weight:  bold;
}
.contactus a:nth-of-type(1)  {
    color:  #1877F2;
}
.contactus a:nth-of-type(2)  {
    color:  #E1306C;
}
.contactus a:nth-of-type(3)  {
    color:  #010101;
}
.contactus p#hyphen  {
    font-size:  large;
}
.contactus p:first-of-type  {
    font-size:  20px;
}

/*  END OF CONTACT US  */

/* START BRANCHES  */
.branches .cardscontainer  {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.branch-card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    text-align: right;
    direction: rtl;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.branch-card h3 {
    color: #c41e24;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

.branch-list {
    list-style: none;
    padding: 0;
}
.branch-item {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 15px;
    color: #444;
    position: relative;
    padding-right: 25px;
    font-size:  20px;
}

.branch-item::before {
    content: '📍'; 
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
}

/*  END OF BRANCHES  */

/* START ABOUT US  */
.aboutwords p {
    width: 50%;
    display: flex;
    align-self: flex-start;
}

/*  END OF ABOUT US  */

/* START LOGIN  */
.login-page  {
    background-image:  url(imgs/spidy.webp);
    background-size:  cover;
    background-position:  center top;
    animation:  spiderDrop 3s ease-out forwards;
}
@keyframes spiderDrop  {
    0%  {
    background-position-y:  -180px;
}
50%  {
    background-position-y:  -90px;
}
100%  {
    background-position-y:  -180px;
}
}
.login-page .password-field  {
    width:  300px;
}
.login-page .stayLog  {
    margin-top:  10px;
}
.login-page .stayLog .sLog  {
    padding:  0px !important;
    width:  17px !important;
}
/*  END OF LOGIN  */

/* START SIGNUP  */
.signup-page  {
    margin:  0 auto;
    width:  420px;
    background-image:  url(imgs/hammer.webp);
    background-size:  cover;
    background-position-x:  -80px;
    background-position-y:  -60px;
    padding:  50px 50px 5px;
}
.signup-page h2  {
    font-size:  25px;
}
.signup-page .social  {
    text-align:  center;
}
.signup-page .social a:last-of-type  {
    color:  black;
}
.signup-page .social a  {
    display:  inline-block;
    font-size:  20px;
    margin:  5px;
    color:  #007bff;
    text-decoration:  none;
}
.signup-page .social + p,  form + p  {
    margin:  15px 0;
    color:  gray;
}
.signup p:first-of-type  {
    position:  relative;
    display:  flex;
    justify-content:  center;
}
.signup p:first-of-type::before  {
    content:  "";
    position:  absolute;
    width:  40%;
    height:  1px;
    background-color:  black;
    right:  54%;
    top:  50%;
}
.signup p:first-of-type::after  {
    content:  "";
    position:  absolute;
    width:  40%;
    height:  1px;
    background-color:  black;
    left:  54%;
    top:  50%;
}
/*  END OF SIGNUP  */

/* START CART  */
.cart-page {
    min-height:  554px;
}
.cart-page li  {
    font-size:  18px;
    margin-bottom:  10px;
    font-family:  system-ui;
}
.cart-page button  {
    margin-right:  15px;
}
.cart-page .cart-content  {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

/*  END OF CART  */

/* START MIX  */
.aboutwords,  .branches,  .contactus,  .cart-container  {
    display:  flex;
    flex-direction:  column;
    align-items:  center;
    direction:  rtl;
    margin:  0 auto;
    padding:  80px;
    background-color:  #ffffff4a;
}
.branches,  .contactus  {
    align-items:  self-start;
}
.contactus, .aboutwords, .branches, .cart-container  {
    background-image: url("imgs/rest.png");
    background-size: cover;
    background-position: right;
     background-repeat: no-repeat;
    position: relative;
}
.contactus::after, .aboutwords::after, .branches::after, .cart-container::after  {
  content: '';
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  /* تدرج من شفاف تماماً على الشمال إلى رمادي فاتح عند الكلام على اليمين */
  background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 1) 50%, rgba(230, 230, 230, 1) 100%);
  z-index: -1; /* ليكون تحت النص */
}
.aboutwords p,  .branches ul  {
    font-size:  24px;
    line-height:  2;
    margin:  10px 0 40px;
    font-family:  system-ui;
}
.aboutwords h1,  .branches h1,  .contactus h1,  .cart-page h1  {
    color:  white;
    background-color:  #eb2727;
    position:  relative;
    width:  fit-content;
    border-radius:  20px;
    padding:  15px 30px;
    font-size:  xx-large;
    transition:  0.3s;
    align-self:  self-start;
}
.aboutwords h1:hover,  .branches h1:hover,  .contactus h1:hover,  .cart-page h1:hover  {
    color:  #eb2727;
    background-color:  white;
}

.login,  .signup  {
    margin:  57px 0;
}
.login-page,  .signup-page  {
    margin:  0 auto;
    width:  fit-content;
    background-color:  white;
    padding:  50px 70px;
    border-radius:  10px;
}
.login-page button,  .signup-page button  {
    color:  white;
    background-color:  black;
    padding:  10px 10px;
    cursor:  pointer;
    border-radius:  5px;
}
.login-page form,  .signup-page form  {
    display:  flex;
    flex-direction:  column;
}
.login-page label,  .signup-page label  {
    margin-top:  10px;
    font-weight:  bold;
}
.login-page input,  .signup-page input  {
    margin-top:  10px;
    padding:  7px;
    width:  270px;
}
.error  {
    margin-top:  10px;
    color:  red;
}
.signup-page #toggle-password,  .signup-page #toggle-confirm-password,  .login-page #toggle-password  {
    cursor:  pointer;
}
/*  END OF MIX  */


/* START RESPONSIVE  */
@media (max-width: 1200px) {
    .container {
    width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
    width: 750px;
    }
    .header .container .nav_data span a  {
        padding:  3px;
        font-size:  15px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .header .container .rest-logo img  {
        max-width:  120px;
    }
    .header .container .nav_data span:not(.s)  {
        padding:  0px 2px;
    }
    .header .container .nav_data span:not(.s):hover  {
        background-color:  #ff00003b;
        padding:  15px 5px;
    }
    .header .container .nav_data span a  {
        padding:  15px 5px;
        font-size:  15px;
    }
    .header .container .user  {
        padding:  2px;
        font-size:  small;
        width:  fit-content;
        width:  90px;
    }
    .header .container  {
        flex-direction:  column;
    }
    .header .nav_data  {
        display:  flex;
        margin:  30px 0 20px;
    }
    .header .nav_data span.s  {
        display:  none;
        padding:  5px 0px;
    }
    .header .nav_data span:not(.s):hover  {
        background-color:  #ff00003b;
        padding:  5px 10px;
    }
    .header .nav_data span:not(.s)  {
        padding:  0px 15px;
    }
    .header .container .user  {
        padding:  2px;
        font-size:  small;
        width:  fit-content;
        text-align:  center;
    }
    .menu .container  {
        display:  flex;
        flex-direction:  column;
        align-items:  center;
    }
    .menu .orderAdd  {
        right:  auto;
        margin:  10px auto;
        justify-self:  center;
    }
    .menu .orderAdd .ord  {
        font-size:  small;
    }
    .menu .cartlogo  {
        position:  fixed;
        top:  10px;
        left:  6px;
        padding:  6px;
        width:  40px;
        height:  40px;
    }

    .home .container .info  {
        text-align:  center;
    }
    .home .container  {
        display:  flex;
        justify-self:  center;
    }
    .home p.name  {
        font-size:  xx-large;
        width:  auto;
    }
    .home p.bla  {
        font-size:  large;
    }
    .home .more .btn,  .home h1  {
        font-size:  medium;
    }
    .home h1  {
        position:  relative;
        left:  -30%;
    }
    .home .container .info p:first-child,  .home .container .info p.name  {
        margin:  0 auto;
    }

    .footer .container  {
        flex-direction:  column-reverse;
        padding-bottom:  0;
    }
    .email  {
        margin:  10px 0 20px;
    }
    .email input  {
        outline:  none;
        text-align:  center;
        width:  250px;
        height:  45px;
    }
    .box p:nth-child(1)  {
        font-size:  x-large;
        text-align:  center;
    }
    .copy .container  {
        padding:  0;
    }
    .copy .rest-logo  {
        display:  none;
    }

    .login-page,  .signup-page  {
        margin:  0 auto;
        width:  fit-content;
        background-color:  white;
        padding:  10px 20px;
        border-radius:  10px;
    }
    .signup-page  {
        background-position-x:  -95px;
        background-position-y:  -55px;
        width:  320px;
    }
    .login-page label,  .signup-page label  {
        margin-top:  10px;
        font-size:  15px;
    }
    .login-page input,  .signup-page input  {
        margin-top:  5px;
        padding:  4px;
        width:  200px;
    }
    .login-page  {
        animation:  spiderDrop 2s ease-out forwards;
    }
    .login-page #pass-msg,  .signup-page #pass-msg  {
        font-size:  smaller;
    }
    .branches,  .contactus  {
        align-items:  center;
    }
    @keyframes spiderDrop  {
        0%  {
            background-position-y:  -130px;
        }
        50%  {
            background-position-y:  -80px;
        }
        100%  {
            background-position-y:  -130px;
        }
    }

    .branches .cardscontainer {
        justify-content: center;
    }

    .aboutwords p,  .branches ul  {
        font-size:  18px;
        line-height:  1.5;
        margin-top:  50px;
        width:  250px;
        padding-right:  0px;
    }
    .aboutwords h1,  .branches h1,  .contactus h1,  .cart-page h1  {
        font-size:  x-large;
        align-self:  center;
    }
    .contactus h2  {
        font-size:  larger;
        font-family:  system-ui;
    }
    .contactus p  {
        font-size:  15px;
    }
    .contactus hr  {
        width:  245px;
    }
    .contactus a  {
        font-size:  12px;
    }
    .contactus p:first-of-type  {
        font-size:  18px;
    }
    .branches  {
        align-items:  self-start;
    }
    .cart-page li  {
        font-size:  15px;
        margin-bottom:  10px;
        font-family:  system-ui;
        width:  fit-content;
    }
    .cart-page button  {
        margin:  10px 85px 10px;
        font-size:  13px;
        width:  110px;
    }
    .cart-page .Buttons  {
        display:  flex;
        gap:  10px;
        margin:  0;
    }
    .cart-page .Buttons button  {
        margin:  0 !important;
        width:  80px;
    }
}
/* END OF RESPONSIVE  */